<div class="flex flex-col max-w-sm border-1 overflow-hidden bg-black p-2 mb-6 font-mono">
    <h4 class="text-yellow-500 text-xl">There are no {{entity}} in the app!</h4>
    <p class="text-yellow-200">
        Navigate
        <strong>Home</strong>, then click
        <em>Upend</em>
        to add an entry using the admin password
    </p>
</div>